.chatMessages {
  color: #7e6b10;
  overflow-x: hidden;
  overflow-y: auto;
  height: 84.5vh;
}

.chatMessageBox {
  display: block;
}

.messageBox {
  display: inline;
}

.messageName {
  color: rgb(121, 183, 252);
  word-wrap: break-word;
  display: inline;
  white-space: nowrap;
  font-weight: 550;
  cursor: pointer;
}
.messageDate {
  font-size: 70%;
  display: inline-block; /* Change to inline-block */
  word-wrap: break-word;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis if text overflows */
  color: #977575;
  font-weight: normal;
  position: relative;
  top: -1px;
  font-family: Verdana, Sans-Serif; /* Set the font family */
  letter-spacing: 0.01em; /* Adjust letter spacing */
  text-align: center; /* Center the text */
}

.messageMessage {
  color: rgb(0, 197, 213);
  display: inline;
  word-wrap: break-word;
  padding-left: 6px;
  font-weight: normal;
}
 .message-me, .message-pass, .message-info, .message-nick {
  font-style:italic;
  color: #977575;
  font-size: 0.9em;
 }

 .message-me {
  font-weight: bold;
 }